<div class="mx-auto md:w-2/3 w-full max-w-2xl p-6 bg-white shadow-md rounded-lg">
  <h1 class="font-bold text-4xl mb-6 text-gray-800">New post</h1>

  <%= render "form", post: @post %>

  <%= link_to "Back to posts", posts_path, class: "mt-4 inline-block rounded-lg py-2 px-4 bg-gray-200 text-gray-700 font-medium hover:bg-gray-300 transition-colors duration-300" %>
</div>